html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#wrap {
  height: 100%;
  width: 100%;
}

#canvas {
  background-color: #ECECEC;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 14px 14px;
  display: block;
}
